javascript-typescript/node_modules
api-rest/feature/obligatorio/node_modules
api-rest/feature/obligatorio/mongo-data
api-rest/feature/opcional/node_modules
api-rest/feature/opcional/mongo-data
api-rest/feature/mongoose/node_modules
api-rest/feature/mongoose/mongo-data
cloud/despliegue-manual-mock/front/node_modules
cloud/despliegue-manual-mock/back/node_modules
cloud/despliegue-manual-mock/back/mongo-data
cloud/despliegue-manual-mock/back/dist
cloud/despliegue-manual-mock/back/public
cloud/despliegue-manual-mongo/front/node_modules
cloud/despliegue-manual-mongo/back/node_modules
cloud/despliegue-manual-mongo/back/mongo-data
cloud/despliegue-manual-mongo/back/dist
cloud/despliegue-manual-mongo/back/public
cloud/despliegue-automatico/front/node_modules
cloud/despliegue-automatico/back/node_modules
cloud/despliegue-automatico/back/mongo-data
cloud/despliegue-automatico/back/dist
cloud/despliegue-automatico/back/public